<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="itor.topnetwork.com.dxditor">
    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/StyledIndicators">
        <meta-data android:name="com.amap.api.v2.apikey" android:value="b3af8b127fdf51d5c528f20cc4435524">
            //开发者申请的key
        </meta-data>
        <activity android:name=".activitys.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.MapPageActivity"/>
        <activity android:name=".activitys.ComprehensiveperceptionAvtivity"/>
        <activity android:name=".activitys.ZTManagerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activitys.BridgeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activitys.GDBActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activitys.SPZActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activitys.ZTActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activitys.ZtTest"
            />
<activity android:name=".myview.RaderView"/>
    </application>

</manifest>